# The CODEOWNERS are managed via a GitHub team, but the current list is (in alphabetical order):
#

*       @sigstore/core-team @sigstore/sigstore-blog-maintainers

# lukehinds
# trevrosen
# bobcallaway
# SantiagoTorres
# priyawadhwa
# rchaganti
