@font-face {
    font-family: 'GT Maru Regular';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Regular'), url('../fonts/GTMaruRegular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Regular Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Regular Oblique'), url('../fonts/GTMaruRegularOblique.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Light';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Light'), url('../fonts/GTMaruLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Light Oblique'), url('../fonts/GTMaruLightOblique.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Medium';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Medium'), url('../fonts/GTMaruMedium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Medium Oblique'), url('../fonts/GTMaruMediumOblique.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Bold';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Bold'), url('../fonts/GTMaruBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Bold Oblique'), url('../fonts/GTMaruBoldOblique.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Black';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Black'), url('../fonts/GTMaruBlack.woff') format('woff');
    }
    

    @font-face {
    font-family: 'GT Maru Black Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('GT Maru Black Oblique'), url('../fonts/GTMaruBlackOblique.woff') format('woff');
    }