<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ "/" | relURL }}">
      <img src="{{ "/images/sigstore_icon-color.svg" | relURL }}" alt="Sigstore" class="brand-mark" />
      <span class="brand-text">Sigstore Community Blog</span>
    </a>
    <nav class="nav nav-icons" aria-label="Primary">
      <a class="icon-link" href="https://docs.sigstore.dev/" target="_blank" rel="noopener" aria-label="Docs">
        <img class="icon-img" src="{{ "/icons/docs.svg" | relURL }}" alt="" aria-hidden="true" />
        <span class="icon-label">Docs</span>
      </a>
      <a class="icon-link" href="https://github.com/sigstore" target="_blank" rel="noopener" aria-label="GitHub">
        <img class="icon-img" src="{{ "/icons/github.svg" | relURL }}" alt="" aria-hidden="true" />
        <span class="icon-label">GitHub</span>
      </a>

      <a class="icon-link" href="https://join.slack.com/t/sigstore/shared_invite/zt-2ub0ztl5z-PkWb_Ldwef5d6nb~oryaTA" target="_blank" rel="noopener" aria-label="Slack">
        <img class="icon-img" src="{{ "/icons/chat.svg" | relURL }}" alt="" aria-hidden="true" />
        <span class="icon-label">Slack</span>
      </a>
      <a class="icon-link" href="{{ "/search/" | relURL }}" aria-label="Search">
        <img class="icon-img" src="{{ "/icons/search.svg" | relURL }}" alt="" aria-hidden="true" />
        <span class="icon-label">Search</span>
      </a>
      <button class="icon-link theme-toggle" id="theme-toggle" type="button" aria-label="Toggle theme">
        <span class="theme-dot"></span>
        <span class="icon-label">Theme</span>
      </button>
    </nav>
  </div>
</header>
